.TodoItem {
	user-select: none;
	transition: all .3s;
}
.TodoItem.done {
	opacity: .5;
	text-decoration: line-through;
	color: inherit;
	font-weight: inherit;
}
.TodoItem:hover {
	background-color: aqua;
}
.TodoItem_label {
	cursor: pointer;
}
.important {
	font-weight: 700;
	color: tomato;
}